[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=BoughBoot
Comment=BootMenu Fullscreen
Exec=gnome-terminal --full-screen --window-with-profile=BootMenu
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

