[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=BoughBoot
Comment=BootMenu Fullscreen
Exec=/usr/bin/xfce4-terminal --maximize --fullscreen --hide-menubar --hide-scrollbar -x /boot/BB/BBMenu-cli.sh
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

